<header>
    <h2>HRMS</h2>
    <button (click)="notificationsOpen.set(true)" title="View Notifications">
        You have {{ unreadNotifications().length }} unread notifications
    </button>
</header>
<dialog [open]="notificationsOpen()">
    <h3>Notifications</h3>
    <ul>
        @for (notification of notifications(); track notification.id) {
            
            <li>
                <h4>{{ notification.title }} - {{$index}} / {{$count}}</h4>
                <span>{{ notification.message }}</span>
                
                @if (!notification.read) {
                    <button (click)="markNotificationAsRead(notification)">
                        Mark as Read
                    </button>
                } @else {
                    <span> ✅ </span>
                }

            </li>

        } @empty {

            <li>NO Notification to display...</li>

        }
    </ul>
    <button (click)="notificationsOpen.set(false)">Close</button>
</dialog>